<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="./stylesheets/mdui/js/mdui.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <link rel='stylesheet' href='/stylesheets/mdui/css/mdui.min.css' />


    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
  </head>

  <body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-cyan mdui-theme-accent-blue" >





  <%-body %>


  </body>
</html>
