<!DOCTYPE html>
<html>
<head>


    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' />  --->
    <script src="./stylesheets/mdui/js/mdui.min.js" type="text/javascript"></script>

    <link rel='stylesheet' href='./stylesheets/mdui/css/mdui.min.css'/>
</head>

<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-cyan mdui-theme-accent-blue">
<div class="mdui-container  mdui-col-xs-8 mdui-col-offset-xs-2">
    <div class="mdui-textfield mdui-textfield-floating-label mdui-row-xs-1">
        <label class="mdui-textfield-label">账户</label>
        <input class="mdui-textfield-input" type="text"/>
    </div>

    <div class="mdui-textfield mdui-textfield-floating-label mdui-row-xs-1">
        <label class="mdui-textfield-label">密码 </label>
        <input class="mdui-textfield-input" type="password"/>
    </div>

    <div class="mdui-row-xs-3">
        <div class="mdui-typo mdui-col-xs-3">

            <p><a href="./signin">注册</a></p>

        </div>
        <div>
            <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-col-xs-3 mdui-col-offset-xs-4 mdui-color-theme-accent mdui-ripple">登录</button>
        </div>
    </div>
</div>


</body>
</html>
