
<div class="mdui-container  mdui-col-xs-8 mdui-col-offset-xs-2">
    <div class="mdui-textfield mdui-textfield-floating-label mdui-row-xs-1">
        <label class="mdui-textfield-label">账户</label>
        <input class="mdui-textfield-input" type="text"/>
    </div>

    <div class="mdui-textfield mdui-textfield-floating-label mdui-row-xs-1">
        <label class="mdui-textfield-label">密码 </label>
        <input class="mdui-textfield-input" type="password"/>
    </div>

    <div class="mdui-row-xs-3">
        <div class="mdui-typo mdui-col-xs-3">

            <p><a href="./signin">注册</a></p>

        </div>
        <div>
            <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-col-xs-3 mdui-col-offset-xs-4 mdui-color-theme-accent mdui-ripple">登录</button>
        </div>
    </div>
</div>
